[submodule "java_hometask_1"]
	path = java_hometask_1
	url = https://github.com/ancndz/java_hometask_1
[submodule "java_hometask_2"]
	path = java_hometask_2
	url = https://github.com/ancndz/java_hometask_2
